header,
main{
    align-items: center;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    
}

button{
    width: 210px;
    height: 40px;
    display: block;
    padding: 10px;
    margin: 8px;

}